@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans serif;
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}

input:focus {
  outline: none;
}

/* end of reset */

/* Nav bar  */
header {
  padding-top: 1rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid #e2e8f0;
}

header nav a {
  font-size: 14px;
  color: #334155;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav_search {
  position: relative;
}

.nav_search .bx-search {
  position: absolute;
  left: 15px;
  top: 8px;
  color: #3341559c;
}

.nav_search input {
  width: 600px;
  height: 30px;
  border-radius: 5px;
}

.nav_search input::placeholder {
  font-weight: 500;
  font-size: 14px;
  padding-inline: 2.5rem;
}

.nav_btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav_btn .bx-cart-alt {
  font-size: 24px;
}

.bx-menu {
  display: none;
}

.login {
  width: 61px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #334155;
}

.signup {
  width: 61px;
  height: 40px;
  color: #fff;
  background-color: #334155;
}
/* End of Nav bar styling */

/* Sigin in main section */
.signin_sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signin_img img {
  width: 100%;
  height: 100%;
}

/* Sign in inner wrapper */
.signin_sec_wrapper {
  padding-inline: 4rem;
  padding-block: 8rem;
}

.signin_sec_wrapper h3 {
  text-align: center;
  font-weight: 600;
  color: #0f172a;
  font-size: 1.8rem;
}

/* Sign in form */
.signin_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.signin_form label {
  font-weight: 600;
  font-size: 1rem;
  color: #0f172a;
  margin-top: 1rem;
}

.signin_form input {
  width: 100%;
  padding: 0.9rem 0;
  border-radius: 5px;
  margin-top: 0.7rem;
}

.signin_form input::placeholder {
  font-weight: 400;
  font-size: 0.8rem;
  padding-inline: 1rem;
}

/* Sign in button */
.signin_btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #020617;
  color: #fff;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 8px;
  margin-top: 1.5rem;
}

.signin_btn .bx-right-arrow-alt {
  font-size: 1.5rem;
}

/* Social sign in line */
.signin_line {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 1.5rem;
}

.line {
  border: 1px solid #94a3b8;
  width: 50%;
}

.signin_line span {
  width: 30%;
  text-align: center;
  color: #94a3b8;
  font-weight: 400;
}

/* Social sign in buttons */
.signin_social {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 2rem;
}

.siginin_facebook,
.signin_google,
.signin_microsoft {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #b2b5c4;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  width: 33%;
}

/* social sign in logo's */
.facebook,
.google,
.Microsoft {
  width: 24px;
  height: 24px;
}

/* Media Query Small screen */
@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  header nav {
    padding: 1.3rem 2rem;
    width: 100%;
  }
  header nav a,
  .nav_search,
  .nav_btn {
    display: none;
  }

  .nav-logo a {
    display: inline-block;
  }

  .bx-menu {
    display: inline-block;
    font-size: 40px;
  }

  .signin_sec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    width: 90%;
    margin: auto;
  }

  .signin_sec_wrapper {
    padding-block: none;
    padding-inline: 1rem;
    margin-top: -5rem;
  }

  .signin_sec_wrapper h3 {
    text-align: center;
    font-weight: 600;
    color: #0f172a;
    font-size: 1.4rem;
  }

  .signin_form input {
    width: 100%;
    padding: 0.9rem 0;
    border-radius: 5px;
    margin-top: 0.7rem;
  }

  .signin_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #020617;
    color: #fff;
    padding: 0.8rem 1.8rem;
    border: none;
    width: 100%;
    border-radius: 8px;
    margin-top: 1.5rem;
  }

  .signin_line span {
    width: 50%;
  }

  .signin_img img {
    display: none;
  }

  .signin_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 2rem;
    width: 100%;
  }

  .siginin_facebook,
  .signin_google,
  .signin_microsoft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

/* Media query for medium screen */
@media (min-width: 701px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }
  header nav {
    padding: 1.3rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav a,
  .nav_search,
  .nav_btn {
    display: none;
  }

  .nav-logo a {
    display: inline-block;
  }

  .bx-menu {
    display: inline-block;
    font-size: 40px;
  }

  .signin_sec {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3rem;
  }

  .signin_sec_wrapper {
    width: 100%;
  }

  .signin_form input {
    width: 100%;
  }

  .signin_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  .signin_img img {
    width: 100%;
    height: 100%;
  }

  .signin_line span {
    width: 50%;
  }

  .signin_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 2rem;
    width: 100%;
  }

  .siginin_facebook,
  .signin_google,
  .signin_microsoft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* Extra media query for specific large screen size */
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header nav {
    padding: 1.3rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav a,
  .nav_search,
  .nav_btn {
    display: none;
  }

  .nav-logo a {
    display: inline-block;
  }

  .bx-menu {
    display: inline-block;
    font-size: 40px;
  }

  .signin_img img {
    width: 100%;
    height: 100%;
  }
}

/* Media query for extra large screens */
@media (min-width: 1990px) {
  body {
    width: 70%;
    margin: auto;
  }
}

/* End of media query */
